<mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
    Demo Application
    <div class="toolbar-icons"></div>
    <mat-icon class="toolbar-icon">help_outline</mat-icon>
    <mat-icon class="toolbar-icon">search</mat-icon>
    <mat-icon class="toolbar-icon">favorite</mat-icon>
    <mat-icon class="toolbar-icon">person</mat-icon>
</mat-toolbar>
